doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equic="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, intial-scale=1")
		title PI Integrator for BI
		link(rel="icon", href="assets/osisoft-favicon-16x16.ico")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="stylesheets/styles.css")
		style.
			[data-sr]{visibility: hidden;}
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		//- script(src="//app-sjh.marketo.com/js/forms2/js/forms2.min.js")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container
				.navbar-header
					//- button.navbar-toggle.collapsed.heightfix(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					//- 	span.sr-only Toggle navigation
					//- 	span.icon-bar
					//- 	span.icon-bar
					//- 	span.icon-bar
					a.navbar-brand(href="https://www.osisoft.com")
						img(alt="OSIsoft", src="assets/osisoft-logo.png")
				//- #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-stacked.ofn
				//- 	ul.nav.navbar-nav.navbar-right.nav-pills.nav-stacked.heightfix
				//- 		li.active
				//- 			a(href='#s1') HOME
				//- 				span.sr-only (current)
				//- 		li
				//- 			a(href='#s2') The PI SYSTEM
				//- 		li
				//- 			a(href='#s3') ABOUT
				//- 		li
				//- 			a(href='#s4') CONTACT
		.container-fluid.bannerbg
			.row.banner-heading
				.col-md-6.heading-col 
					.left-heading.heading 
						h2 PI Integrator for Business Analytics
				.col-md-6.heading-col 
					.right-heading.heading 
						h2 Access | Standardize | Visualize
			.banner
				img(alt="banner", src="assets/pi-for-bi-banner-1170x249px.png")
		.container
			ul.nav.nav-tabs(role="tablist")
				li.active
					a(href="#home", role="tab", data-toggle="tab")
						i.fa.fa-home 
						span Home
				li
					a(href='#pi-system', role="tab", data-toggle="tab") The PI SYSTEM
				li
					a(href='#about', role="tab", data-toggle="tab") ABOUT
				li
					a(href='#contact', role="tab", data-toggle="tab") CONTACT
			.tab-content
				.tab-pane.fade.active.in#home
					h2 The PI System and PI Integrator for BI bring together time-series data access and tools for standardization, presenting a single version of the truth for your operational data.
					.tiles PLACE HOLDER FOR TILES
				.tab-pane.fade#pi-system
					h2 Pi System page content
				.tab-pane.fade#about
					//- h2 About page content
					.infographic
						img(src="assets/infographic_white.png", alt="OSIsoft Delivers the PI System")
				.tab-pane.fade#contact
					h2 Contact page content
		//- .tallone
		.footer
			.container
				.links(data-sr="wait .4s")
					span © 2015 OSIsoft 
					span | 
						a osisoft.com 
					span | 
						a(href="http://www.osisoft.com/home/Privacy_Policy.aspx") Privacy 
				.image-links
					ul.social
						li.social_twitter.trans(data-sr="wait .5s")
							a(href="https://twitter.com/OSIsoft", target="_blank")
						li.social_facebook.trans(data-sr="wait .6s")
							a(href="http://www.facebook.com/OSIsoft", target="_blank")
						li.social_linkedin.trans(data-sr="wait .7s")
							a(href="http://www.linkedin.com/company/osisoft", target="_blank")
						li.social_users.trans(data-sr="wait .8s")
							a(href="http://community.osisoft.com/", target="_blank")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="scrollReveal.min.js")
		script.
			window.sr = new scrollReveal();