doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equic="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, intial-scale=1")
		title PI Integrator for BI
		link(rel="icon", href="assets/osisoft-favicon-16x16.ico")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="stylesheets/styles.css")
		style.
			[data-sr]{visibility: hidden;}
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		//- script(src="//app-sjh.marketo.com/js/forms2/js/forms2.min.js")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container
				.navbar-header
					//- button.navbar-toggle.collapsed.heightfix(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					//- 	span.sr-only Toggle navigation
					//- 	span.icon-bar
					//- 	span.icon-bar
					//- 	span.icon-bar
					a.navbar-brand(href="https://www.osisoft.com")
						img(alt="OSIsoft", src="assets/osisoft-logo.png")
				//- #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-stacked.ofn
				//- 	ul.nav.navbar-nav.navbar-right.nav-pills.nav-stacked.heightfix
				//- 		li.active
				//- 			a(href='#s1') HOME
				//- 				span.sr-only (current)
				//- 		li
				//- 			a(href='#s2') The PI SYSTEM
				//- 		li
				//- 			a(href='#s3') ABOUT
				//- 		li
				//- 			a(href='#s4') CONTACT
		.container-fluid.heading-bg
			.container.tabs
				ul.nav.nav-tabs(role="tablist").floatright
					li.active
						a(href="#home", role="tab", data-toggle="tab")
							i.fa.fa-home 
							span Home
					li
						a(href='#pi-system', role="tab", data-toggle="tab") The PI SYSTEM
					li
						a(href='#about', role="tab", data-toggle="tab") ABOUT
					li
						a(href='#contact', role="tab", data-toggle="tab") CONTACT
			.container
				.row.banner-heading
					.col-md-6.heading-col 
						.left-heading.heading 
							h2.mtfix PI Integrator for Business Analytics
					.col-md-6.heading-col 
						.right-heading.heading 
							h2.mtfix Access | Standardize | Visualize
		.container-fluid.bannerbg
			.banner
				img(alt="banner", src="assets/pi-for-bi-banner-1170x249px.png")
		.container
			.tab-content
				.tab-pane.fade.active.in#home
					h3.marginfix The PI System and PI Integrator for BI bring together time-series data access and tools for standardization, presenting a single version of the truth for your operational data.
					.row.marginfix
						.col-md-4
							img(src="assets/PI4BI-webinar-button-v.2.png").img-responsive.center-block.tiles
							br
						.col-md-4
							a(data-toggle="modal", data-target="#myModal0")
								img(src="assets/PI4BI-O&G-button.png").img-responsive.center-block.tiles
							br
						.col-md-4
							img(src="assets/PI4BI-O&G-button-2.png").img-responsive.center-block.tiles
							br
				.tab-pane.fade#pi-system
					h2 Pi System page content
				.tab-pane.fade#about
					//- h2 About page content
					.infographic
						img(src="assets/infographic_white.png", alt="OSIsoft Delivers the PI System").img-responsive.center-block
				.tab-pane.fade#contact
					.row.contact-bg
						.col-md-4.contact-padding-fix
							a(href="http://maps.google.com/maps?q=37.723091, -122.162681")
								img(title="OSIsoft Corporate Headquarters", alt="OSIsoft Corporate Headquarters", src="http://www.osisoft.com/assets/0/71/102/de31c5c2-8a06-46a0-a4e6-6f9cfac42a62.jpg").img-responsive.center-block
						.col-md-4.contact.contact-padding-fix
							p
								strong OSIsoft World Headquarters
							p 777 Davis Street
							p San Leandro, CA 94577
							br
							p Phone: 510.297.5800
							p Fax: 510.357.8136
							p Email: 
								a(href="mailto:sales@osisoft.com") sales@osisoft.com
						.col-md-4.contact.contact-padding-fix
							p
								a(href="http://maps.google.com/maps?q=37.723091, -122.162681") Map
							br
							p
								a(href="http://www.osisoft.com/WorkArea/linkit.aspx?LinkIdentifier=id&ItemID=4789") Directions
					a(href="http://pages.osisoft.com/Business-Analytics.html") 
						h3 Tell us if you would like to receive further information about the PI Integrator for Business Analtyics
		.footer
			.container
				.links(data-sr="wait .4s")
					span © 2015 OSIsoft 
					span | 
						a osisoft.com 
					span | 
						a(href="http://www.osisoft.com/home/Privacy_Policy.aspx") Privacy 
				.image-links
					ul.social
						li.social_twitter.trans(data-sr="wait .5s")
							a(href="https://twitter.com/OSIsoft", target="_blank")
						li.social_facebook.trans(data-sr="wait .6s")
							a(href="http://www.facebook.com/OSIsoft", target="_blank")
						li.social_linkedin.trans(data-sr="wait .7s")
							a(href="http://www.linkedin.com/company/osisoft", target="_blank")
						li.social_users.trans(data-sr="wait .8s")
							a(href="http://community.osisoft.com/", target="_blank")

		.modal.fade#myModal0(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog.modal-lg(role="document")
				.modal-body
					.yt
						#player0

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="scrollReveal.min.js")
		script.
			var w = "864";
			var h = "486";
			//- $(window).on('resize',function(){location.reload();});
			var width = $(window).width();
			if (width < 975) {
				if(width > 768){
					w = "568";
					h = "320";
				}else if(width > 400){
					w = "550";
					h = "310";
				}else if (width > 350){
					w = "300";
					h = "169";
				}else{
					w = "213";
					h = "120";
				}
			}
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var vids = {
				0 : "L8osE9bBeKg"
			}
			var players = [];

			function onYouTubeIframeAPIReady(){
				for(var vid in vids){
					var player = new YT.Player('player' + vid, {
						width: w,
						height: h,
						videoId: vids[vid],
						playerVars: {rel: 0},
						enablejsapi: 1
					});
					players.push(player);
				}
			}
			function stopVideo(i){
				players[i].stopVideo();
			}
			$("#myModal0").on('shown.bs.modal', function() {
				if (typeof players[0].playVideo == 'function') {
					players[0].playVideo();
				} else {
				var fn = function() {
					players[0].playVideo();
				};
					setTimeout(fn, 200);
				}
			});

			$("#myModal0").on('hidden.bs.modal', function(e) {
				players[0].stopVideo(0);
			});
		script.
			window.sr = new scrollReveal();